<div id="about" class="container-page">
	<div class="row">
		<div id="left-sidebar" class="col-md-4">
			<div class="sidebar-nav-fixed">					<div class="well">
					<p>hello World</p>	
				</div>
				<!--/.well -->
			</div>
			<!--/.sidebar nav fixed -->
		</div>
		<!--/#left sidebar -->
		<div id="main-content" class="col-md-8">
			<h1>About Babellog</h1>
			<p>Become fluent in your second language by expressing yourself.</p>
			<p>Learn from feedback by native and fluent speakers</p>
			<p>Help other learners to become fluent in your native or dominant language</p>
			<p>React to posts and follow people wishing to freely express themselves just like they would do on facebook or twitter</p>
		</div>
		<!--/#main-content -->
	</div>
	<!--/.row -->
</div>
<!--/#about -->

