<div id="home" class="container-page">
	<div class="row">
		<div id="left-sidebar" class="col-md-4">
			<h3 class="center">Babellog aims to help you</h3>
			<div class="sidebar-nav-fixed">					<div class="well">
					<h4><i class="fa fa-comments-o"></i>  ...  become fluent in your second language by expressing yourself.</h4>
				</div>
				<!--/.well -->
				<div class="well">
					<h4><i class="fa fa-leanpub"></i>  ...  learn from feedback by native and fluent speakers.</h4>
				</div>
				<!--/.well -->
				<div class="well">
					<h4><i class="fa fa-question-circle-o"></i>  ...  help other learners to become fluent in your native or dominant language.</h4>
				</div>
				<!--/.well -->
				<div class="well">
					<h4><i class="fa fa-bullhorn"></i>  ...  react to posts and follow people wishing to freely express themselves just like they would do on facebook or twitter.</h4>
				</div>
				<!--/.well -->
			</div>
			<!--/.sidebar nav fixed -->
		</div>
		<!--/#left sidebar -->
		<div id="main-content" class="col-md-8">
			<h1>Last published articles</h1>
			
		</div>
		<!--/#main-content -->
	</div>
	<!--/.row -->
</div>
<!--/#home -->
